<% if @post.errors.any?%>
    <div id="error_esplanation">

        <h2>
        <%= pluralize(@post.errors.count, "error")%>
            <p>Prohibited this post from being saved: </p>
        </h2>

        <ul>
            <%= @post.errors.full_messages.each do |msg|%>
            <li><%=msg%></li>
            <%end%>
        </ul>
    </div>
<%else%>
    <h1> Felicitaciones, tú artículo fue publicado </h1>
<%end%>
