<nav class="navbar navbar-dark bg-warning" >
    <div class="container">
        <span class="navbar-brand mb-0 h1"><%= link_to 'Inicio', posts_index_path %></span>
        <span class="navbar-brand mb-0 h1"><%= link_to 'Administradores', posts_dashboard_path %></span>
    </div>
</nav>


                

                